site_name: Programación en Inteligencia Artificial
site_url: https://fmgarcia.github.io/aprendizaje_supervisado.github.io/
theme:
  name: material
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  logo: assets/logo.png
  favicon: assets/favicon.ico
  features:
    - navigation.footer
    - navigation.sections
    - navigation.expand
    - navigation.top
    - toc.integrate
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.arithmatex:
      generic: true
      
extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/fmgarcia27/
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@fmgarcia

copyright: Copyright &copy; 2025 Francisco García

nav:
  - Inicio: index.md
  - Aprendizaje Supervisado:
    - Introducción: aprendizaje-supervisado/index.md
    - 1. Machine Learning: aprendizaje-supervisado/01-machine-learning.md
    - 2. Predicción Numérica: aprendizaje-supervisado/02-prediccion-numerica.md
    - 3. Predicción Categórica: aprendizaje-supervisado/03-prediccion-categorica.md
    - 4. Árboles de Decisión: aprendizaje-supervisado/04-arboles-decision.md
    - 5. Naive Bayes: aprendizaje-supervisado/05-naive-bayes.md
    - 6. Algoritmo KNN: aprendizaje-supervisado/06-knn.md
    - 7. Algoritmo SVM: aprendizaje-supervisado/07-svm.md
    - 8. Ensamblado: aprendizaje-supervisado/08-ensamblado.md
  - Aprendizaje No Supervisado:
    - Introducción: aprendizaje-no-supervisado/index.md
    - 1. Fundamentos: aprendizaje-no-supervisado/01-aprendizaje-no-supervisado.md
    - 2. K-Means: aprendizaje-no-supervisado/02-kmeans.md
    - 3. DBSCAN: aprendizaje-no-supervisado/03-dbscan.md
    - 4. Clustering Jerárquico: aprendizaje-no-supervisado/04-clustering-jerarquico.md
    - 5. PCA: aprendizaje-no-supervisado/05-pca.md
    - 6. t-SNE: aprendizaje-no-supervisado/06-tsne.md
    - 7. Isolation Forest: aprendizaje-no-supervisado/07-isolation-forest.md
    - 8. Apriori: aprendizaje-no-supervisado/08-apriori.md
  - Procesamiento de Lenguaje Natural:
    - Introducción: procesamiento-lenguaje-natural/index.md
  - Deep Learning:
    - Introducción: deep-learning/index.md
